body {
  background-color: #e5e5e5;
}

h1,
h2,
p {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  height: 6968px;
  width: 375px;
}

/* ----------------- Toolbar ---------------- */

.toolbar {
  background: #3c3a39;
  height: 46px;
  width: 375px;
  display: flex;
  justify-content: space-between;
}

.toolbar-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
  margin-top: 16px;
}

nav {
  margin-right: 5%;
  margin-top: 4%;
}

/* ----------------- Headline ---------------- */

.headline {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  height: 590px;
  background-image: url(Assets/bg.svg);
  background-position: 225px 220px;
  background-size: 40%;
  background-repeat: no-repeat;
}

.headline > .primary-text {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin-left: 24px;
  margin-top: 120px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.headline > .supporting-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-left: 24px;
  margin-top: 12px;
  color: #fff5e1;
}

.headline > .description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-top: 12px;
  color: #fff;
}

.socials1 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 4%;
  margin-left: 10px;
}

.socials1 > li {
  display: inline;
}

/* ----------------- First Project ---------------- */

.projects {
  background-color: #fff;
  height: 3726px;
}

.first-project > .title {
  font-family: "Crete Round", serif;
  color: #1c1a19;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top: 100px;
  text-align: left;
}

.first-project > hr {
  border: 1px solid #212121;
  border-top: none;
  margin-top: 30px;
  width: 327px;
}

.first-project > img {
  margin-top: 70px;
  margin-bottom: 24px;
  display: block;
}

.first-project {
  margin-left: 24px;
}

.first-project > ul > li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  display: inline;
}

.first-project > ul {
  padding: 0;
  margin-bottom: 24px;
  margin-top: 24px;
  list-style: none;
}

.first-project > button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
}

.first-project .title-post {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.first-project .supporting-text {
  font-family: "Inter", sans-serif;
  margin-right: 24px;
  color: #091e42;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* ----------------- Other Projects ---------------- */

.other-projects {
  display: flex;
  flex-direction: column;
  background-image: url(Assets/other-projects.svg);
  background-repeat: no-repeat;
  background-size: 327px, 386px;
  background-position: center;
  height: 470px;
}

.other-projects > button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  position: auto;
  color: #fff;
  width: 327px;
  height: 48px;
  border: none;
  background: #ff6b00;
  margin-left: 24px;
  margin-right: 0;
  margin-top: 0;
}

.other-projects > ul > li {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 10px 12px 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-right: 12px;
  display: inline;
}

.other-projects > ul {
  margin-bottom: 22px;
  margin-left: 40px;
  margin-top: 0;
  padding: 0;
}

.other-projects > .title-post {
  margin-bottom: 12px;
  margin-left: 40px;
  text-align: left;
  margin-top: 140px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.other-projects > .supporting-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-left: 40px;
  margin-right: 40px;
  color: #fff;
}

/* ----------------- About Me ---------------- */

.about-me {
  background: #1c1a19;
  background-image: url(Assets/about-me-bg.svg);
  background-repeat: no-repeat;
  height: 1800px;
  background-position-y: 25%;
  background-position-x: right;
}

.about-me > .primary-text {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 120px;
  margin-bottom: 24px;
  text-align: center;
}

.about-me > .description {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-me > button {
  width: 161px;
  height: 48px;
  margin-left: 24px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
}

.about-me > hr {
  border: 1px solid #fff;
  border-top: none;
  margin-top: 205px;
  margin-bottom: 136px;
  width: 327px;
}

.skill-list-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-left: 0;
  text-align: center;
  color: #fff;
  margin-bottom: 44px;
}

.skill-list-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin-bottom: 32px;
  padding-left: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.about-me > ul,
.about-me > ul > ul {
  list-style: none;
}

.about-me > ul > li {
  margin-bottom: 30px;
  padding-left: 0;
  margin-left: 0;
}

/* ----------------- Contact ---------------- */

.contact {
  background-color: #fff;
  height: 990px;
}

.contact > form > .primary-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 120px;
  margin-bottom: 73px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
  color: #172b4d;
}

.normal-text-box {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  color: #979493;
  width: 327px;
  margin-top: 39px;
  margin-bottom: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-indent: 16px;
  font-size: 15px;
  padding-bottom: 14px;
}

textarea {
  width: 327px;
  height: 114px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  background-color: #fbf8f7;
}

textarea::-webkit-input-placeholder {
  color: #3c3a39;
}

.contact > form > button {
  border: none;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 124px;
  display: block;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.gray-line {
  border: 1px solid #dfe1e6;
  width: 370px;
  border-top: none;
}

.socials2 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.black-line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  display: block;
}

/* ----------------- Button Behaviour ---------------- */

.my-buttons:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.my-buttons:active {
  background: #e05304;
  color: #f4f1f0;
  border: none;
}
