.toolbar {
  background: #3c3a39;
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolbar-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.headline {
  background-color: #1c1a19;
  height: 90%;
  background-image: url(Assets/bg.png);
  background-position: 100% 290%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.content1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin-left: 24px;
  margin-top: 120px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.content2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-left: 24px;
  margin-top: 12px;
  color: #fff5e1;
}

.content3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-right: 50px;
  color: #fff;
}

nav {
  margin-right: 5%;
  margin-top: 4%;
}

img:hover {
  width: 110%;
  border: #ff6b00 solid 2px;
  border-radius: 10%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 4%;
  margin-left: 10px;
}

li {
  display: inline;

  /* margin-left: 0px; */
}
